* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: #A29BFE;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.buscador-nav2 {
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.buscador-contenedor-nav{
    margin-top: 5px;
    height: 30px;
    width: 400px;
}

.iniciar-sesion{
    border-radius: 20px;
    border: none;
    background-color: #6C5CE7;
    color: white;
    height: 30px;
    width: 110px;
    margin-top: 5px;
    cursor: pointer;
}

.iniciar-sesion:hover{
    background-color: #726bd4;
}

.titulo{
    color: white;
}

.contenedor1{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor2{
    padding-left: 20px;
    padding-right: 30px;
}

.contenedorPrincipal{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex: 2;
}

.caja{
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 2px 3px rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caja2{
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 2px 3px rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.letra-negrita{
    font-weight: bold;
}

.boton-corazones{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #FF7675;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}

.boton-corazones:hover{
    background-color: #ffa9a9;
}

body{
    background-color: #F1F2F6;
}

.boton-perfil{
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #05CFCA;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.boton-perfil:hover{
    background-color: #01dddd;
}