*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.712);
    /* Altura exagerada para ver scroll */
    min-height: 150vh;
    padding-bottom: 50px;
}
/* Posición fija (fixed)*/
.barra-navegacion{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 15px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Posición en capa */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.685);
}

barra-navegacion h1{
    font-size: 1.2rem;
}

.enlace-nav{
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlace-nav:hover{
    color: aliceblue;
}

/* Contenedor Principal */
.contenedor-principal{
    display: flex;
    flex-wrap: wrap; /* Cuando los elementos no caben, bajan automáticamente */
    justify-content: center;
    gap: 30px;
    margin-top: 100px; /* Margen para que el contenido quede visible */
}

.targeta{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 5px 15px black;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.targeta:hover{
    transform: translateY(-10px); /* Movimiento hacia arriba*/;
    box-shadow: 0 15px 25px;
}

.targeta h2{
    font-size: 1.3rem;
    color: rgb(85, 85, 190);
    border-bottom: 2px solid rgba(128, 128, 128, 0.479);
    padding-bottom: 10px;
}

.explicacion{
    font-size: 0.9rem;
    color: rgb(92, 92, 92);
    line-height: 1.4; /* Interlineado: separación de parrafo. */
}

/* Cajas grises */
.bloque-normal{
    background-color: rgba(128, 128, 128, 0.37);
    color: black;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

/* EJEMPLO DE STATIC (El Que Obedece) */

.bloque-estatico{
    position: static;
    /* Intentaremos moverlo, CSS ignorará el movimiento */
    top: 40px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.781);
}

/* EJEMPLO RELATIVE (El fantasma)*/
.bloque-fantasma{
    border: 2px dashed rgba(128, 128, 128, 0.37);
    border-radius: 6px;
    height: 48px;
    position: relative;
}

.bloque-relativo{
    position: relative;
    /* Se mueve a partir del molde fantasma */
    top: 25px;
    left: 30px;

    background-color: orangered;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgb(94, 25, 0);

}

/* EJEMPLO ABSOLUTE (Ventana y X) */
.ventana-modal{
    position: relative;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.253);
    border-radius: 8px;
    padding:30px 15px 15px 15px;
    text-align: center;
    margin-top: 10px;
}

.boton-cerrar{
    position: absolute;
    /* Se ancla exactamente a la esquina superior derecha de la
    ventana modal */
    top: -12px;
    right: -12px;
    background-color: red;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(78, 52, 4);
    border: 2px solid white;
}