*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1a2e4d;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.parrafo{
    margin: 25px;
}

.menu{
    margin-top: 9px;
    background-color: #1a4e6d;
}

.boton{
    display: inline-block;
    background-color: none;
    color: white;
    text-decoration: none; 
    margin: 15px;
    padding: 5px 5px;
}

.rectangulo{
    display: block;
    background-color: #1a4e6d;
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    color: white;
    padding: 40px 50px;
}

.parrafo2{
    margin-top: 15px;
}

.bloque{
    display: inline-block;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    background-color: #3d90c0;
    color: white;
    padding: 30px 50px;
    border-radius: 5px;
}


.casillas{
    text-align: center;
}

.contenedor{
    background-color: white;
    box-shadow: 1px 1px 10px rgb(161, 161, 161);
    padding: 20px 15px;
    margin: 40px;
    border-radius: 5px;
}

.separador{
    display: block;
}

.parrafo3{
    margin-top: 10px;
}